<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="col-sm-12" style="text-align: center;color: rgb(34, 26, 26);font-family:Georgia, 'Times New Roman', Times, serif;">
        <h1 class="title">About Us</h1></div>
        
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-6">
            <h3><b>Shiv-samrajya</b></h3>
            <p>"Shiv-Samrajya" is Satara(koregav) own largest online Super Market where all your daily needs are just a click away!!! Easy access to more than 7000+ products with 800+ brands in various categories like Grocery, food products, personal care, fruit and Vegetables is what makes us Unique.
            </p>
            <p>After a lot of brainstorming we thought to start a venture in Nagpur where we can provide an opportunity to People of Nagpur best quality services which satarkar (koregavkr) deserve and started our maiden project of online grocery store named "GroceryBroz".
            </p>
            <p>Making shopping easy and intuitive is not our only goal but in addition, we strive to create accessibility, convenience and job opportunity for our people. We have designed sophisticated mobile friendly website for you from where you may order your requirement of product without any trouble and to enrich this experience our customer service is always there to help you in answering your queries.
            </p>
            <li>Enhanced business visibility</li>
            <li>Increased credibility for your brand</li>
            <li>Lead Management System</li>
        </div>
        <div class="col-sm-6">
            <h3><b>Shiv-samrajya</b></h3>
            <p>Shiv-Samrajya-free shopping, High Quality Products, Affordable prices and On-Time-Delivery makes us different from the conventional Kirana Stores. Delivering high quality goods to our customers at a reasonable price within stipulated time and thereby making our customers satisfied is our priority.
           </p>
           <p>Shiv-Samrajya and Smart makes your grocery shopping even simpler. No more hassles of sweating it out in crowded markets, grocery shops & supermarkets - now shop from the comfort of your home; office or on the move.
          </p>
          <p>Our Team is rigorously striving to transform your computer screen into a Complete Super Market where you can experience shopping everything you need, under one roof without even taking a step.
        </p>
        <li>Convenience of connecting with sellers anytime, anywhere</li>
        <li>Wider marketplace with a range of products and suppliers</li>
        <li>Payment Protection Program</li>
 </div></div><br>

 <div class="container-fluid">
<p>At team "Shiv-Samrajya", we set high aims and with your co-operation we will try to achieve them. Fulfilling customer?s need to their satisfaction is our first and foremost motto. We assure to provide you an awesome happy & satisfactory shopping experience with us. Looking forward for an opportunity to serve you.
</p>
<blockquote>We offer you convenience of shopping everything that you need for your home - be it fresh fruits & vegetables, rice, dals, oil, packaged food, dairy item, frozen, pet food, household cleaning items & personal care products from a single virtual store.
</blockquote>
</div></div>

<h2 class="text-center"><b>What We Do</b></h2>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-4"><h3>Free Shipping</h3>
        <i class="fa-solid fa-truck"></i>
    <p>Shiv-Samrajya, gives product delivery for all <br>customers free that is plus point of order. </p>
</div>   
    <div class="col-sm-4"><h3>Gift Cards</h3><p>Shiv-Samrajya, Gives every customer reward points or saving as theire customer type. It's make to happy customer and continue to joined together as like Mart and Card. Gifts gives to customers reward points</p>
    </div>
    <div class="col-sm-4"><h3>Reward Points</h3>
    <p>Shiv-Samrajya, Gives every customer reward points or saving as theire customer type. It's make to happy customer and continue to joined together as like Mart and Card.
</p></div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"><h3>Easy Return</h3>
        <p> One major factor that dictates where online shoppers make purchases is whether you have a clear and generous eCommerce returns policy. Studies have shown that solid return policies increase sales without increasing the volume of return.

        </p>
    </div>   
        <div class="col-sm-4"><h3>Cash On Delivery</h3><p>Offering free shipping is a great way to help prevent any unwanted surprises at checkout. Many believe that free shipping is the expectation and standard and that anything less is a disservice to your customers. This is especially important if you’re just starting a business that will ship products to customers.

        </p>
        </div>
        <div class="col-sm-4"><h3>24 7 customer Support</h3>
        <p>Shiv-Samrajya gives 24x7 service to customer satisfaction.

        </p></div>
    </div>
    </div>




        
    
</body>
</html>