<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-sm navbar-dark  fixed-top" style="background-color: brown;">
          <div class="container-fluid pt-3">
            
            <div class="collapse navbar-collapse" id="mynavbar">
              <ul class="navbar-nav ">
                <li class="nav-item">
                  <a class="nav-link" href="#"><b>HOME</b></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><B>CATEGORIES</B></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Dropdown1</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown2</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown3</a></li>
                  </ul>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link" href="#"><B>BRANDS</B></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><B>SHOP</B></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><B>ABOUT-US</B> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> <B>CONTACT-US</B> </a>
                </li>
      
               
              </ul>
              
            </div>
          </div>
        </nav>
        <!-- slides-->
         <div class="container pt-5">
        
        <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active pt-5" data-bs-interval="10000">
                <img src="/static/assets/fashion1.jpg" class="d-block w-100 " alt="" >
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/static/assets/groccery.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/assets/shoes.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
           
          </div>
          </div>
        
        <!-- featured-->
         <div class="container">
        <h1><b>Featured</b></h1>
        <hr class="text-black">
        <div class="row">
            <div class="col-lg-2">
                <div class="card mb-3 ps-4 pt-3 p" style="width: 240px; ">
                    <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/ilaichi.jpg" alt="Card image"></a>
                    <div class="card-body">
                      <h4 class="card-title pt-2"> <b>Suhana  Ilaichi...</b></h4>
                      <p class="card-text text-primary">Rs.369 <del class="text-danger">Rs.400</del></p>
                      <a href="#" class="btn btn-danger mt-3">Add To Cart</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2">
              <div class="card mb-4 ps-4 pt-2 " style="width: 240px; margin-left: 45px; ">
                  <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/pants.jpg" alt="Card image"></a>
                  <div class="card-body">
                    <h4 class="card-title "><b>MamyPoko pants...</b></h4>
                    <p class="card-text text-primary">Rs.390 <del class="text-danger">Rs.400</del></p>
                    <a href="#" class="btn btn-danger">Add To Cart</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-2">
            <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 95px;">
                <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/chivda.jpg" alt="Card image"></a>
                <div class="card-body">
                  <h4 class="card-title "><b>Sai Navratn Gan...</b></h4>
                  <p class="card-text text-primary">Rs.65 <del class="text-danger">Rs.125</del></p>
                  <a href="#" class="btn btn-danger">Add To Cart</a>
                </div>
              </div>
        </div>
        <div class="col-lg-2">
          <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 135px;">
              <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/powder.jpg" alt="Card image"></a>
              <div class="card-body">
                <h4 class="card-title "><b>Ghadi Powder 4..</b></h4>
                <p class="card-text text-primary">Rs.340 <del class="text-danger">Rs.350</del></p>
                <a href="#" class="btn btn-danger">Add To Cart</a>
              </div>
            </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 175px;">
            <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/fenapowder.jpg" alt="Card image"></a>
            <div class="card-body">
              <h4 class="card-title "><b>Fena Powder 5k..</b></h4>
              <p class="card-text text-primary">Rs.430 <del class="text-danger">Rs.440</del></p>
              <a href="#" class="btn btn-danger">Add To Cart</a>
            </div>
          </div>
    </div>
    
       
         </div>
        </div>

        <!---products-->
        <div class="container">
          <h1><b>Products</b></h1>
          <hr class="text-black">
          <div class="row">
              <div class="col-lg-2">
                  <div class="card mb-3 ps-4 pt-3 p" style="width: 240px; ">
                      <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/halad.jpg" alt="Card image"></a>
                      <div class="card-body">
                        <h4 class="card-title pt-2"> <b>Katdare Special</b></h4>
                        <p class="card-text text-primary">Rs.20.00 <del class="text-danger">Rs.23.00</del></p>
                        <a href="#" class="btn btn-danger mt-3">Add To Cart</a>
                      </div>
                    </div>
              </div>
              <div class="col-lg-2">
                <div class="card mb-4 ps-4 pt-2 " style="width: 240px; margin-left: 45px; ">
                    <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/paste.jpg" alt="Card image"></a>
                    <div class="card-body">
                      <h4 class="card-title "><b>MamyPoko pants...</b></h4>
                      <p class="card-text text-primary">Rs.113.00 <del class="text-danger">Rs.115.00</del></p>
                      <a href="#" class="btn btn-danger">Add To Cart</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2">
              <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 95px;">
                  <a href=""><img class="card-img-top img-fluid pb-1 pt-2" style="height: 180px;width:180px;" src="/static/assets/lizol.jpg" alt="Card image"></a>
                  <div class="card-body">
                    <h4 class="card-title pt-2 "><b>lizol Rose flor...</b></h4>
                    <p class="card-text text-primary">Rs.44.50 <del class="text-danger">Rs.45.00</del></p>
                    <a href="#" class="btn btn-danger mt-3 mb-1">Add To Cart</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-2">
            <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 135px;">
                <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/jasmin.jpg" alt="Card image"></a>
                <div class="card-body">
                  <h4 class="card-title "><b>Parachute jasmin..</b></h4>
                  <p class="card-text text-primary">Rs.83.00 <del class="text-danger">Rs.85.00</del></p>
                  <a href="#" class="btn btn-danger">Add To Cart</a>
                </div>
              </div>
        </div>
        <div class="col-lg-2">
          <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 175px;">
              <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;" src="/static/assets/rajdhani.jpg" alt="Card image"></a>
              <div class="card-body">
                <h4 class="card-title "><b>Rajdhani Parvat..</b></h4>
                <p class="card-text text-primary">Rs.70.00 <del class="text-danger">Rs.80.00</del></p>
                <a href="#" class="btn btn-danger">Add To Cart</a>
              </div>
            </div>
      </div>
      
         
           </div>
          </div>

          <a href="#" class="btn btn-danger" style="margin-left: 750px; margin-bottom: 10px;">Show All Products</a>

          
                    
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
