{% extends 'master.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="utf-8" />

</head>

<body>
    {% block project %}
    <h2 style="font-size: 25px; color: #565252; margin-top: 30px; margin-left: 40px;">CONTACT-US </h2>
    <div class="aa-contact-address" style="margin: 20px; padding: 20px;">
        
        <div class="row">
            <div class="col-md-8">
                <div class="aa-contact-address-left">
                    <form class="comments-form contact-form" action="send">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Your Name" class="form-control"
                                        style="border:solid 1px;"><br>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" placeholder="Email" class="form-control"
                                        style="border:solid 1px;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Subject" class="form-control"
                                        style="border:solid 1px;"><br>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Company" class="form-control"
                                        style="border:solid 1px;">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Message"
                                style="height: 200px; width: 500px; border: solid 1px;"></textarea><br>
                        </div>

                        <button class="aa-secondary-btn" style="border: solid 1px">Send</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="aa-contact-address-right">
                    <address>
                        <h4>Shiv Samrajya</h4>
                        <p> The Shivsamrajya Help Centre page lists out various types of issues that you may have
                            encountered so that there can be quick resolution and you can go back to shopping online.
                        </p>
                        <p><span class="fa fa-home"></span> Koregav,Post Office SATARA ,pin code:-415501</p>
                        <p><span class="fa fa-phone"></span> + 91.343.7575</p>
                        <p><span class="fa fa-envelope"></span> Email: support@Shivsamrajya.com</p>
                        <p><span class="fa-solid fa-clock-rotate-left"></span> Openning Time : 24x7</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
   
    {%endblock%}


    
       
    <!-- Footer -->


    <!-- Bootstrap core JS-->
    


</body>

</html>