{% extends 'master.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
</head>


<body>
    {% block project %}

    <div class="container-fluid">
        <h1 class="text-center">Cosmetic</h1>
        <hr class="text-black">
        <div class="row">

            <div class="col-lg-3">
                <h1>Categories</h1>
             <hr class="text-black">
              <ul style="list-style: none;">
          {% for i in category %}
          <hr class="text-black">
              <li><a href="/{{ i.category_name }}/" class="btn" >{{ i.category_name }}</li></a>

              {% endfor %}
          
        </ul>
    
            </div>

            <div class="col-lg-8">

                <div class="row">

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.50.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Fashwash.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Joy Skin Fruit Apple</b></h4>
                                <p class="card-text text-primary ms-5">Rs.66.50 <del class="text-danger">Rs.67.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.03.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/glow lovely.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-3"> <b>Glow & Lovely.</b></h4>
                                <p class="card-text text-primary ms-5">Rs.120.00 <del
                                        class="text-danger">Rs.100.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/vaslin.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-3"> <b>Vaseline..</b></h4>
                                <p class="card-text text-primary ms-5">Rs.150.00 <del
                                        class="text-danger">Rs.200.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.10.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/santoor soap.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Santoor orange soap..</b></h4>
                                <p class="card-text text-primary ms-5">Rs.142.00 <del
                                        class="text-danger">Rs.144.00</del></p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                    <!------------------------------------------------------------>



                    <div class="row">

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.50.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/vatika shampoo.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-1"> <b>vatika shampoo</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.100.50 <del
                                            class="text-danger">Rs.130.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.03.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/patangli gel.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-3"> <b>Patanjali gel..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.99.00 <del
                                            class="text-danger">Rs.120.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/parachute oil.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-3"> <b>Parachute oil..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.143.00 <del
                                            class="text-danger">Rs.150.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.10.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/midnight.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-1"> <b>Ramsons midnight .</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.220.00 <del
                                            class="text-danger">Rs.230.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------------------------------------------------------------------------------------->


                    <div class="row">

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.50.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/godrej soap.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-1"> <b>Godrej No.1..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.298.50 <del
                                            class="text-danger">Rs.300.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.03.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/babyshop.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-3"> <b>Himalaya baby soap..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.144.00 <del
                                            class="text-danger">Rs.184.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/1658825128.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-3"> <b>RED Z x perfume..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.200.00 <del
                                            class="text-danger">Rs.300.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.10.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/cloaseup.png" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-1"> <b>Closeup.</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.188.00 <del
                                            class="text-danger">Rs.230.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!------------------------------------------------------------------------------------->


                    <div class="row">

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.50.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/goodnight.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-1"> <b>GoodKnight Jumbo.</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.29.50 <del
                                            class="text-danger">Rs.44.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To
                                            Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.03.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/vanish.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-3"> <b>Vanish...</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.212.00 <del
                                            class="text-danger">Rs.250.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To
                                            Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/santoor alovera.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-3"> <b>Santoor Soap ..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.145.00 <del
                                            class="text-danger">Rs.150.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To
                                            Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.10.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/sanhaldi.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-1"> <b>Santoor Beauty</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.553.00 <del
                                            class="text-danger">Rs.560.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To
                                            Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!----------------------------------------------------------------------------------->


                    <div class="row">

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.50.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/pondspoweder.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-1"> <b>POND'S..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.286 <del
                                            class="text-danger">Rs.300.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To
                                            Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.03.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/nisha.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-3"> <b>Nisha Brown..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.25.00 <del
                                            class="text-danger">Rs.30.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To
                                            Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/move spare.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-3"> <b>Move..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.100.00 <del
                                            class="text-danger">Rs.130.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To
                                            Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.10.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/johnsanbaby.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-1"> <b>Johnson's baby Soap.</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.200.00 <del
                                            class="text-danger">Rs.230.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To
                                            Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                

                <!-------------------------------------------------------------------------------------------------------------->
                <div class="row">

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.50.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/jasmin oil.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Jasmin oil..</b></h4>
                                <p class="card-text text-primary ms-5">Rs.150 <del class="text-danger">Rs.180.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To
                                        Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.03.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/himalayafashwash.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-3"> <b>Himalaya Face Wash..</b></h4>
                                <p class="card-text text-primary ms-5">Rs.80.00 <del class="text-danger">Rs.90.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To
                                        Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/everyth scrub.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-3"> <b>EveryYuth natural.</b></h4>
                                <p class="card-text text-primary ms-5">Rs.80.00 <del class="text-danger">Rs.100.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To
                                        Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.10.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/dove soap.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Dove.</b></h4>
                                <p class="card-text text-primary ms-5">Rs.54.00 <del class="text-danger">Rs.70.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To
                                        Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!------------------------------------------------------------------------------------------------------->
                <div class="row">

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.50.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/serum.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Streax serum...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.180 <del class="text-danger">Rs.200.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To
                                        Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.03.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/spark per.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-3"> <b>Ramsons SPARK...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.280.00 <del
                                        class="text-danger">Rs.300.00</del></p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To
                                        Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/ur per.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-3"> <b>Ramsons SPARK..</b></h4>
                                <p class="card-text text-primary ms-5">Rs.305.00 <del
                                        class="text-danger">Rs.330.00</del></p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To
                                        Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.10.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/vaslin.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Vaseline.</b></h4>
                                <p class="card-text text-primary ms-5">Rs.78.00 <del class="text-danger">Rs.80.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To
                                        Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
            <!------------------------------------------------------------------------------------------------------------>
            <div class="row">

                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                        <div class="card-title">

                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs.50.00</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                src="/static/assets/rejnigandha per.jpg" alt="Card image"></a>
                        <div class="card-body">
                            <h4 class="card-title ms-1"> <b>Rajnigandha..</b></h4>
                            <p class="card-text text-primary ms-5">Rs.400 <del class="text-danger">Rs.450.00</del></p>
                            <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5"
                                    style="background-color: #ff7722;color: aliceblue;">Add To
                                    Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                        <div class="card-title">

                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs.03.00</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                src="/static/assets/ramsons per.jpg" alt="Card image"></a>
                        <div class="card-body">
                            <h4 class="card-title ms-3"> <b>Ramsons U.R Sweet...</b></h4>
                            <p class="card-text text-primary ms-5">Rs.280.00 <del class="text-danger">Rs.300.00</del>
                            </p>
                            <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5"
                                    style="background-color: #ff7722;color: aliceblue;">Add To
                                    Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                        <div class="card-title">

                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                src="/static/assets/medimix.jpg" alt="Card image"></a>
                        <div class="card-body">
                            <h4 class="card-title ms-3"> <b>Medimix..</b></h4>
                            <p class="card-text text-primary ms-5">Rs.30.00 <del class="text-danger">Rs.33.00</del></p>
                            <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5"
                                    style="background-color: #ff7722;color: aliceblue;">Add To
                                    Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                        <div class="card-title">

                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs.10.00</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                src="/static/assets/kesh king.jpg" alt="Card image"></a>
                        <div class="card-body">
                            <h4 class="card-title ms-1"> <b>Kesh King</b></h4>
                            <p class="card-text text-primary ms-5">Rs.148.00 <del class="text-danger">Rs.150.00</del>
                            </p>
                            <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5"
                                    style="background-color: #ff7722;color: aliceblue;">Add To
                                    Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
        </div>

    </div>





















    


    {%endblock%}

</body>

</html>