{% extends 'master.html'%}
{% block project%}
<div class="container-fluid">
    <h1 class="text-center">Grocery</h1>
    <hr class="text-black">
    <div class="row">

        <div class="col-lg-3">
            <h1>Categories</h1>
            <hr class="text-black">
            <ul style="list-style: none;">
                <li><a href="" class="btn"><b>General</b></a></li>
                <hr class="text-black">
                <li><a href="" class="btn"><b>Grocery</b></a></li>
                <hr class="text-black">
                <li><a href="" class="btn"><b>Food Items</b></a></li>
                <hr class="text-black">
                <li><a href="" class="btn"><b>Spices</b></a></li>
                <hr class="text-black">
                <li><a href="" class="btn"><b>Cosmetic</b></a></li>
                <hr class="text-black">
                <li><a href="" class="btn"><b>Stationary</b></a></li>
                <hr class="text-black">
            </ul>
        </div>

        <div class="col-lg-9">

            <div class="row">

                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                        <div class="card-title">

                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs 01.00</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                src="/static/assets/redlabel.jpg" alt="Card image"></a>
                        <div class="card-body">
                            <h4 class="card-title ms-1"> <b>Red Label 250gm.</b></h4>
                            <p class="card-text text-primary ms-5">Rs 149.00 <del class="text-danger">Rs 150.00</del>
                            </p>
                            <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5"
                                    style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                        <div class="card-title">

                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs.00.70</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                src="/static/assets/gs tea.jpg" alt="Card image"></a>
                        <div class="card-body">
                            <h4 class="card-title ms-5"> <b>G.S 50gm..</b></h4>
                            <p class="card-text text-primary ms-5">Rs 20.00 <del class="text-danger">Rs 20.70</del></p>
                            <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5"
                                    style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                        <div class="card-title">

                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs 02.00</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                src="/static/assets/society.jpg" alt="Card image"></a>
                        <div class="card-body">
                            <h4 class="card-title"> <b>Society Leaf Tea 500gm</b></h4>
                            <p class="card-text text-primary ms-5">Rs 288.00 <del class="text-danger">Rs 290.00</del>
                            </p>
                            <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5"
                                    style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                        <div class="card-title">

                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs 02.00</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                src="/static/assets/gs tea.jpg" alt="Card image"></a>
                        <div class="card-body">
                            <h4 class="card-title ms-4"> <b> G.S Tea 250gm..</b></h4>
                            <p class="card-text text-primary ms-5">Rs 128.00 <del class="text-danger">Rs 130.00</del>
                            </p>
                            <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5"
                                    style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------>
                <div class="row">

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs 02.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/bornvita.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-4"> <b>Bournvita 200gm..</b></h4>
                                <p class="card-text text-primary ms-5">Rs 123.00 <del class="text-danger">Rs
                                        125.00</del></p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.00.50</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/gs tea.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-5"> <b>G.S 100gm..</b></h4>
                                <p class="card-text text-primary ms-5">Rs 41.50 <del class="text-danger">Rs 42.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs 00.50</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/redlabel.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title"> <b>Red Label 100gm</b></h4>
                                <p class="card-text text-primary ms-5">Rs 54.00 <del class="text-danger">Rs 55.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs 04.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/bournvita.png" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-2"> <b> Bournvita jar 500gm...</b></h4>
                                <p class="card-text text-primary ms-5">Rs 245.00 <del class="text-danger">Rs
                                        249.00</del></p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------------------->
                    <div class="row">

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs 01.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/society.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title"> <b>Society Leaf Tea 250gm..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs 144.00 <del class="text-danger">Rs
                                            145.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs 02.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/bornvita.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-5"> <b>Bournvita 200gm.</b></h4>
                                    <p class="card-text text-primary ms-5">Rs 126.00 <del class="text-danger">Rs
                                            128.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs 10.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/gs tea.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-5"> <b>G.S Tea 500gm</b></h4>
                                    <p class="card-text text-primary ms-5">Rs 200.00 <del class="text-danger">Rs
                                            210.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                                <div class="card-title">

                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs 05.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/gs tea.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-4"> <b> G.S Tea 250gm..</b></h4>
                                    <p class="card-text text-primary ms-5">Rs 105.00 <del class="text-danger">Rs
                                            110.00</del></p>
                                    <div class="d-flex">
                                        <a href="#" class="btn  mt-3 ms-5"
                                            style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                        <i class="fa-regular fa-heart text-light"
                                            style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----------------------------------------->
                        <div class="row">

                            <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                                <div class="card mb-3 pt-3  ">
                                    <div class="card-title">

                                        <span class="badge  float-end rounded-pill pt-2 me-1"
                                            style="background-color: #ff7722; height: 30px ;width:70px;">Rs 02.00</span>
                                    </div>
                                    <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                            src="/static/assets/redlabel.jpg" alt="Card image"></a>
                                    <div class="card-body">
                                        <h4 class="card-title ms-1"> <b>Red Label 250gm.</b></h4>
                                        <p class="card-text text-primary ms-5">Rs 158.00 <del class="text-danger">Rs
                                                160.00</del></p>
                                        <div class="d-flex">
                                            <a href="#" class="btn  mt-3 ms-5"
                                                style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                            <i class="fa-regular fa-heart text-light"
                                                style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                                <div class="card mb-3 pt-3  ">
                                    <div class="card-title">

                                        <span class="badge  float-end rounded-pill pt-2 me-1"
                                            style="background-color: #ff7722; height: 30px ;width:70px;">Rs 10.00</span>
                                    </div>
                                    <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                            src="/static/assets/gs tea.jpg" alt="Card image"></a>
                                    <div class="card-body">
                                        <h4 class="card-title ms-5"> <b>G.S 500gm..</b></h4>
                                        <p class="card-text text-primary ms-5">Rs 220.00 <del class="text-danger">Rs
                                                230.00</del></p>
                                        <div class="d-flex">
                                            <a href="#" class="btn  mt-3 ms-5"
                                                style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                            <i class="fa-regular fa-heart text-light"
                                                style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                                <div class="card mb-3 pt-3  ">
                                    <div class="card-title">

                                        <span class="badge  float-end rounded-pill pt-2 me-1"
                                            style="background-color: #ff7722; height: 30px ;width:70px;">Rs 05.00</span>
                                    </div>
                                    <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                            src="/static/assets/gs tea.jpg" alt="Card image"></a>
                                    <div class="card-body">
                                        <h4 class="card-title"> <b>G.S Tea 250gm</b></h4>
                                        <p class="card-text text-primary ms-5">Rs 110.00 <del class="text-danger">Rs
                                                115.00</del></p>
                                        <div class="d-flex">
                                            <a href="#" class="btn  mt-3 ms-5"
                                                style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                            <i class="fa-regular fa-heart text-light"
                                                style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                                <div class="card mb-3 pt-3  ">
                                    <div class="card-title">

                                        <span class="badge  float-end rounded-pill pt-2 me-1"
                                            style="background-color: #ff7722; height: 30px ;width:70px;">Rs 01.00</span>
                                    </div>
                                    <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                            src="/static/assets/ilaichi.jpg" alt="Card image"></a>
                                    <div class="card-body">
                                        <h4 class="card-title"> <b> Sahyadri Elaichi Tea 25.</b></h4>
                                        <p class="card-text text-primary ms-5">Rs 94.00 <del class="text-danger">Rs
                                                95.00</del></p>
                                        <div class="d-flex">
                                            <a href="#" class="btn  mt-3 ms-5"
                                                style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                            <i class="fa-regular fa-heart text-light"
                                                style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------------------------->
                            <div class="row">

                                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                                    <div class="card mb-3 pt-3  ">
                                        <div class="card-title">

                                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs
                                                10.00</span>
                                        </div>
                                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                                src="/static/assets/ilaichi.jpg" alt="Card image"></a>
                                        <div class="card-body">
                                            <h4 class="card-title ms-1"> <b>Sahyadri Elaichi 500</b></h4>
                                            <p class="card-text text-primary ms-5">Rs 190.00 <del class="text-danger">Rs
                                                    200.00</del></p>
                                            <div class="d-flex">
                                                <a href="#" class="btn  mt-3 ms-5"
                                                    style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                                <i class="fa-regular fa-heart text-light"
                                                    style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                                    <div class="card mb-3 pt-3  ">
                                        <div class="card-title">

                                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs
                                                10.00</span>
                                        </div>
                                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                                src="/static/assets/ilaichi.jpg" alt="Card image"></a>
                                        <div class="card-body">
                                            <h4 class="card-title "> <b> Sahyadri Elaichi 1kg</b></h4>
                                            <p class="card-text text-primary ms-5">Rs 390.00 <del class="text-danger">Rs
                                                    400.00</del></p>
                                            <div class="d-flex">
                                                <a href="#" class="btn  mt-3 ms-5"
                                                    style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                                <i class="fa-regular fa-heart text-light"
                                                    style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                                    <div class="card mb-3 pt-3  ">
                                        <div class="card-title">

                                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs
                                                05.00</span>
                                        </div>
                                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                                src="/static/assets/sahyadri kadk.jpg" alt="Card image"></a>
                                        <div class="card-body">
                                            <h4 class="card-title"> <b>Sahyadri Kadka Tea 250</b></h4>
                                            <p class="card-text text-primary ms-5">Rs 85.00 <del class="text-danger">Rs
                                                    90.00</del></p>
                                            <div class="d-flex">
                                                <a href="#" class="btn  mt-3 ms-5"
                                                    style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                                <i class="fa-regular fa-heart text-light"
                                                    style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                                    <div class="card mb-3 pt-3  ">
                                        <div class="card-title">

                                            <span class="badge  float-end rounded-pill pt-2 me-1"
                                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs
                                                02.00</span>
                                        </div>
                                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                                src="/static/assets/gs tea.jpg" alt="Card image"></a>
                                        <div class="card-body">
                                            <h4 class="card-title ms-4"> <b> G.S Tea 250gm..</b></h4>
                                            <p class="card-text text-primary ms-5">Rs 128.00 <del class="text-danger">Rs
                                                    130.00</del></p>
                                            <div class="d-flex">
                                                <a href="#" class="btn  mt-3 ms-5"
                                                    style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                                <i class="fa-regular fa-heart text-light"
                                                    style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        {%endblock%}