{% extends 'master.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>shivsamarjya</title>
  <!-- Favicon-->
  
</head>

<body>

  <div class="container-fluid" style="height:200px; width: 100%; background-color: #ff7722;">

    <div class="row">
      <div class="col-lg-4 ms-5">
        <img src="/static/assets/shivsamarjya.jpg" alt="" class="pt-4 pb-3 ps-3 pe-3">
      </div>
      <div class="col-lg-4">
        <input type="text" placeholder="Search..">

      </div>
    </div>

  </div>







  <!-- Navigation-->
  <nav class="navbar navbar-expand-sm navbar-dark " style="background-color: brown;">
    <div class="container-fluid pt-3">

      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav ">
          <li class="nav-item  ms-5">
            <a class="nav-link" href="#"><b>HOME</b></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><B>CATEGORIES</B></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">General</a></li>
              <li><a class="dropdown-item" href="#">Cosmetic</a></li>
              <li><a class="dropdown-item" href="#">Food Item</a></li>
              <li><a class="dropdown-item" href="#">Spices</a></li>
              <li><a class="dropdown-item" href="#">Grocery</a></li>
              <li><a class="dropdown-item" href="#">Stationary</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><B>BRANDS</B></a>
            <ul class="dropdown-menu">
              
              <li><a class="dropdown-item" href="#"><img src="/static/assets/amul.png" alt="" style="height: 50px; width: 100px;"></a></li>
            
            
              <li><a class="dropdown-item" href="#"><img src="/static/assets/dairymilk.png" alt="" style="height: 50px; width: 100px;"></a></li>
            
              <li><a class="dropdown-item" href="#"><img src="/static/assets/dabar.png" alt="" style="height: 50px; width:100px;"></a></li>
              <li><a class="dropdown-item" href="#"><img src="/static/assets/gemini.png" alt="" style="height: 50px; width: 100px;"></a></li>
              <li><a class="dropdown-item" href="#"><img src="/static/assets/dawat.png" alt="" style="height: 50px; width: 100px;"></a></li>
              <li><a class="dropdown-item" href="#"><img src="/static/assets/loreal.png" alt="" style="height: 50px; width: 100px;"></a></li>
          </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><B>SHOP</B></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><B>ABOUT-US</B> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <B>CONTACT-US</B> </a>
          </li>


        </ul>

      </div>
    </div>
  </nav>
  <!-- slides-->
  <div class="container pt-1">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/assets/fashion1.jpg" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/assets/groccery.jpg" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/assets/shoes.jpg" class="d-block w-100 " alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <!-- featured-->
  <div class="container">
    <h1><b>Featured</b></h1>
    <hr class="text-black">
    <div class="row">
      <div class="col-lg-2">
        <div class="card mb-3 ps-4 pt-3 p" style="width: 240px; ">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/ilaichi.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title pt-2"> <b>Suhana Ilaichi...</b></h4>
            <p class="card-text text-primary">Rs.369 <del class="text-danger">Rs.400</del></p>
            <a href="#" class="btn  mt-3" style="background-color: #ff7722; color: aliceblue;">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px; margin-left: 45px; ">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/pants.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title "><b>MamyPoko pants...</b></h4>
            <p class="card-text text-primary">Rs.390 <del class="text-danger">Rs.400</del></p>
            <a href="#" class="btn " style="background-color: #ff7722; color: aliceblue; ">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 95px;">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/chivda.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title "><b>Sai Navratn Gan...</b></h4>
            <p class="card-text text-primary">Rs.65 <del class="text-danger">Rs.125</del></p>
            <a href="#" class="btn" style="background-color: #ff7722; color: aliceblue;">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 135px;">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/powder.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title "><b>Ghadi Powder 4..</b></h4>
            <p class="card-text text-primary">Rs.340 <del class="text-danger">Rs.350</del></p>
            <a href="#" class="btn" style="background-color: #ff7722; color: aliceblue;">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 175px;">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/fenapowder.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title "><b>Fena Powder 5k..</b></h4>
            <p class="card-text text-primary">Rs.430 <del class="text-danger">Rs.440</del></p>
            <a href="#" class="btn " style="background-color: #ff7722; color: aliceblue;">Add To Cart</a>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!---products-->
  <div class="container">
    <h1><b>Products</b></h1>
    <hr class="text-black">
    <div class="row">
      <div class="col-lg-2">
        <div class="card mb-3 ps-4 pt-3 p" style="width: 240px; ">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/halad.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title pt-2"> <b>Katdare Special</b></h4>
            <p class="card-text text-primary">Rs.20.00 <del class="text-danger">Rs.23.00</del></p>
            <a href="#" class="btn mt-3" style="background-color: #ff7722; color: aliceblue;">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px; margin-left: 45px; ">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/paste.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title "><b>MamyPoko pants...</b></h4>
            <p class="card-text text-primary">Rs.113.00 <del class="text-danger">Rs.115.00</del></p>
            <a href="#" class="btn" style="background-color: #ff7722; color: aliceblue;">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 95px;">
          <a href=""><img class="card-img-top img-fluid pb-1 pt-2" style="height: 180px;width:180px;"
              src="/static/assets/lizol.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title pt-2 "><b>lizol Rose flor...</b></h4>
            <p class="card-text text-primary">Rs.44.50 <del class="text-danger">Rs.45.00</del></p>
            <a href="#" class="btn  mt-3 mb-1" style="background-color: #ff7722; color: aliceblue;">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 135px;">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/jasmin.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title "><b>Parachute jasmin..</b></h4>
            <p class="card-text text-primary">Rs.83.00 <del class="text-danger">Rs.85.00</del></p>
            <a href="#" class="btn" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card mb-4 ps-4 pt-2 " style="width: 240px;  margin-left: 175px;">
          <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
              src="/static/assets/rajdhani.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title "><b>Rajdhani Parvat..</b></h4>
            <p class="card-text text-primary">Rs.70.00 <del class="text-danger">Rs.80.00</del></p>
            <a href="#" class="btn" style="background-color: #ff7722; color: aliceblue; ">Add To Cart</a>
          </div>
        </div>
      </div>



    </div>
    <div class="button text-center">
      <button class="btn" style="background-color: #ff7722;color: aliceblue;">Show All Products</button>
    </div>
  </div>


  <!--Categories-->

  <div class="container mt-3 ">
    <h1 class="mb-3">Categories</h1>
    <div class="row">
      <div class=" col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card mb-3  pt-3 p" ">
                 
                  <a href=""><img class=" card-img-top" style="height: 300px;" src="/static/assets/redlabel.jpg"
          alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-5"> <b>Grocery</b></h4>

            <a href="#" class="btn mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          </div>
        </div>

      </div>
      <div class="col-lg-3 shadow-lg p-3 mb-5  bg-white rounded">
        <div class="card mb-3  pt-3 p" ">
                  <a href=""><img class=" card-img-top img-fluid" style="height: 300px; padding-left: 50px;"
          src="/static/assets/jam.jpg" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-5"> <b>Food Item</b></h4>

            <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          </div>
        </div>

      </div>
      <div class="col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card mb-3 pt-3   ">
          <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/papad.jpg"
              alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-5"> <b>General</b></h4>

            <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          </div>
        </div>

      </div>
      <div class="col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card mb-3 pt-3   ">
          <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/Fashwash.jpg"
              alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-5"> <b>Cosmetic</b></h4>

            <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card mb-3  pt-3 p" ">
                  <a href=""><img class=" card-img-top" style="height: 300px;" src="/static/assets/chatni.jpg"
          alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-5"> <b>Spices</b></h4>

            <a href="#" class="btn mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          </div>
        </div>

      </div>
      <div class="col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card mb-3  pt-3 p" ">
                  <a href=""><img class=" card-img-top img-fluid" style="height: 300px;"
          src="/static/assets/stationary.png" alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-5"> <b>Stationary</b></h4>

            <a href="#" class="btn mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          </div>
        </div>

      </div>
      <div class="col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card mb-3 pt-3   ">
          <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/bournvita.jpg"
              alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-5"> <b>Grocery</b></h4>

            <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!--Brands-->
  <div class="container mt-4">
    <h1>Brands</h1>
    <hr class="text-black">


    <div class="row mb-3">

      <div class="col-lg-2 ">
        <img src="/static/assets/amul.png" alt="" class="img-fluid pt-2 pb-2" style="  height: 200px; width: 300px;">
      </div>

      <div class="col-lg-2">
        <img src="/static/assets/gemini.png" alt="" class="img-fluid" style=" height: 200px; width: 300px ">
      </div>

      <div class="col-lg-2">
        <img src="/static/assets/parle.png" alt="" class="img-fluid" style="  height: 200px; width: 300px">
      </div>

      <div class="col-lg-2 mb-5">
        <img src="/static/assets/dawat.png" alt="" class="img-fluid" style=" height: 200px; width: 300px">
      </div>

      <div class="col-lg-2">
        <img src="/static/assets/dairymilk.png" alt="" class="img-fluid" style=" height: 200px; width: 300px">

      </div>

      <div class="col-lg-2">
        <img src="/static/assets/kisan.jpg" alt="" class="img-fluid" style=" height: 200px; width: 300px">
      </div>
    </div>

  </div>






  {% endblock %}
 
</body>

</html>