{% extends 'master.html' %}

{% block project %}

<div id="container">
    <div class="container">

        <div class="row">
            <div class="col-sm-9" id="content">
                <h1 class="title">Register Account</h1>
                <p class="text-dark">If you already have an account with us, please login at the <a href="/login">
                        <b>Login Page</b> </a>.</p>


                <form action="/registration" method="POST" class="form-horizontal">
                    <input type="hidden" name="_token" value="XCAb8bMVKoZ4bdTPl0XzK0GJvt4uFGv1L8REYuyT">
                    <fieldset id="account">
                        <legend>Your Personal Details</legend>
                        <div style="display: none;" class="form-group required">
                            <label class="col-sm-2 control-label">Customer Group</label>
                            <div class="col-sm-10">

                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">Full Name</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="input-firstname"
                                    placeholder="Enter Full Name In English" name="english_name"
                                    :value="old('english_name')" required autofocus autocomplete="f_name">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="input-firstname"
                                    placeholder="Enter Full Name In Marathi" name="name" :value="old('name')" required
                                    autofocus autocomplete="f_name">
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">Mobile No </label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="input-firstname"
                                    placeholder="Mobile Number" name="mobno" :value="old('phoneno')" required autofocus
                                    autocomplete="f_name">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">Birth Date </label>
                            <div class="col-sm-10">
                                <input type="date" id="date" class="form-control" placeholder="Date" name="birth_date"
                                    required>

                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">Near by Franchise </label>
                            <div class="col-sm-10">
                                <select name="franchise_id" id="order" class="form-control select2" aria-label="Search">
                                    <option value="" selected>Choose Franchise</option>
                                    <option value="3 ">
                                        युनिक बजेट मार्ट शाखा-चिमणगाव

                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">State </label>
                            <div class="col-sm-10">
                                <select data-width="100%" class="form-control select2" onchange="getStateId(this.value)"
                                    id="state_id" name="state" required>
                                    <option value="1">
                                        Maharashtra</option>
                                    <option value="2">
                                        Andhra Pradesh</option>
                                    <option value="3">
                                        Arunachal Pradesh</option>
                                    <option value="4">
                                        Assam</option>
                                    <option value="5">
                                        Bihar</option>
                                    <option value="6">
                                        Chhattisgarh</option>
                                    <option value="7">
                                        Goa</option>
                                    <option value="8">
                                        Gujarat</option>
                                    <option value="9">
                                        Haryana</option>
                                    <option value="10">
                                        Himachal Pradesh</option>
                                    <option value="11">
                                        Jharkhand</option>
                                    <option value="12">
                                        Karnataka</option>
                                    <option value="13">
                                        Kerala</option>
                                    <option value="14">
                                        Madhya Pradesh</option>
                                    <option value="15">
                                        Manipur</option>
                                    <option value="16">
                                        Meghalaya</option>
                                    <option value="17">
                                        Mizoram</option>
                                    <option value="18">
                                        Nagaland</option>
                                    <option value="19">
                                        Odisha</option>
                                    <option value="20">
                                        Punjab</option>
                                    <option value="21">
                                        Rajasthan</option>
                                    <option value="22">
                                        Sikkim</option>
                                    <option value="23">
                                        Tamil Nadu</option>
                                    <option value="24">
                                        Telangana</option>
                                    <option value="25">
                                        Tripura</option>
                                    <option value="26">
                                        Uttar Pradesh</option>
                                    <option value="27">
                                        Uttrakhand</option>
                                    <option value="28">
                                        West Bengal</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-1">

                            <div class="input-group">

                                <input type="hidden" class="form-control" placeholder="State Code" id="state_code"
                                    name="state_code" value="" readonly>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">District </label>
                            <div class="col-sm-5">
                                <select data-width="100%" class="form-control select2" name="district" id="distric_id"
                                    onchange="getDistId(this.value)" required>
                                    <option value="" selected> Selected District</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1">

                            <div class="input-group mb-3">

                                <input type="hidden" class="form-control" placeholder="District Code" id="dist_code"
                                    name="district_codes" value="" readonly>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">Taluka </label>
                            <div class="col-sm-5">
                                <select data-width="100%" class="form-control select2" name="taluka" id="talu_id"
                                    onchange="gettalukaId(this.value)" value="" required>
                                    <option value="" selected> Selected Taluka</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <div class="input-group mb-3">

                                <input type="hidden" class="form-control" placeholder="Taluka Code" id="taluka_code"
                                    onchange="gettalukaId(this.value)" name="taluka_code" readonly>
                            </div>

                        </div>

                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">Village </label>
                            <div class="col-sm-5">
                                <select data-width="100%" class="form-control select2" name="village" id="village_id"
                                    onchange="getvillageId(this.value)" required>
                                    <option value="" selected> Selected Village</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <div class="input-group mb-3">

                                <input type="hidden" class="form-control" placeholder="Village Code" id="village_code"
                                    name="village_code" readonly>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="input-firstname" class="col-sm-2 control-label">Pin Code </label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" placeholder="Pin Code" name="pincode" value=""
                                    required>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="input-email" class="col-sm-2 control-label">E-Mail</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="input-email" placeholder="E-Mail"
                                    name="email" :value="old('email')" required>
                            </div>
                        </div>




                        <div class="form-group required">
                            <label for="input-password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="txtPassword" placeholder="Password"
                                    name="password" required>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="input-confirm" class="col-sm-2 control-label">Password Confirm</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="txtConfirmPassword"
                                    placeholder="Password Confirm" name="confirm_password" required>
                            </div>
                        </div>
                        <aside id="column-right" class="col-sm-3 ">
                            <h3 class="subtitle"><span>Account</span></h3>
                            <div class="list-group">
                                <ul class="list-item">
                                    <li><a href="/login" class="text-dark">Login</a></li>
                                    <li><a href="/login" class="text-dark">Forgotten Password</a></li>
                                    <li><a href="/login" class="text-dark">My Account</a></li>
        
                                    <li><a href="/login" class="text-dark">Wish List</a></li>
                                    <li><a href="/login" class="text-dark">Order History</a></li>
        
                                    <li><a href="/login" class="text-dark">Returns</a></li>
                                </ul>
                                <h3 class="subtitle"><span>Apply To Card</span></h3>
                            </div class="list-group">
                            <div>
                                Saving at the supermarket used to be simple: Everyone got the sale price. Then, stores began
                                offering loyalty cards, which required customers to scan a plastic card or key in their phone
                                number at checkout to activate discounts. Now, many grocery store chains are replacing those
                                loyalty cards with smartphone apps.
                            </div>
                        </aside>

                        <div class="buttons">
                            <div class="pull-right">

                                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Register"
                                    onclick="return confirm('Are you sure?')">
                            </div>
                        </div>
                        
                </form>
                
            </div>

            {% endblock %}