{% extends 'master.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block project%}
    <div class="container shadow-lg p-3 mb-5   bg-white rounded">
        <h1 class="text-center mt-3"><b>Shop Now</b></h1>
        <hr class="text-black">
        <div class="row">
            {% for i in plist %}
            <div class="col-lg-3 shadow-lg p-3 mb-5 ps-5 rounded">
                <div class="card mb-4 ps-4 pt-2 " style="width: 240px; ">
                    <div class="card-title">

                        <span class="badge  float-end rounded-pill pt-2 me-1"
                            style="background-color: #ff7722; height: 30px ;width:70px;">Rs 03.00</span>
                    </div>
                    <a href=""><img class="card-img-top img-fluid" style="height: 180px;width:180px;"
                            src="/media/{{i.product_img}}" alt="/media/{{i.product_img}}"></a>
                    <div class="card-body">
                        <h4 class="card-title pt-2"> <b>{{i.product_name}}</b></h4>
                        <p class="card-text text-primary">Rs{{i.sale}} <del class="text-danger">Rs{{i.mrp}}</del></p>
                        <div class="d-flex">
                            <a href="#" class="btn  mt-3 " style="background-color: #ff7722;color: aliceblue;">Add To
                                Cart</a>
                            <i class="fa-regular fa-heart text-light"
                                style="height:30 px; width: 40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            








    </div>
    </div>


    {%endblock%}
</body>

</html>