{% extends 'master.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
</head>


<body>
    {% block project %}

    <div class="container-fluid">
        <h1 class="text-center mt-3">Spices</h1>
        <hr class="text-black">
        <div class="row">

            <div class="col-lg-4">
                <h1>Categories</h1>
                <hr class="text-black">
                <ul style="list-style: none;">
                  <li><a href="" class="btn"><b>General</b></a></li>
                  <hr class="text-black">
                  <li><a href="" class="btn"><b>Grocery</b></a></li>
                  <hr class="text-black">
                  <li><a href="" class="btn"><b>Food Items</b></a></li>
                  <hr class="text-black">
                  <li><a href="" class="btn"><b>Spices</b></a></li>
                  <hr class="text-black">
                  <li><a href="" class="btn"><b>Cosmetic</b></a></li>
                  <hr class="text-black">
                  <li><a href="" class="btn"><b>Stationary</b></a></li>
                  <hr class="text-black">
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="row">
                        <div class=" col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
                            <div class="card mb-3  pt-3 p ">


                                <div class="card-title">
                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.0.50</span>
                                </div>

                                <a href=""><img class=" card-img-top" style="height: 300px;"
                                        src="/static/assets/badalful.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-5"> <b>Badalful</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.66.50 <del
                                            class="text-danger">Rs.67.00</del></p>
                                            <div class="d-flex">
                                              <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                              <i class="fa-regular fa-heart text-light"
                                                style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                            </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5  bg-white rounded">
                            <div class="card mb-3  pt-3 p">

                                <div class="card-title">
                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.3.00</span>
                                </div>
                                <a href=""><img class=" card-img-top img-fluid"
                                        style="height: 300px; padding-left: 50px;" src="/static/assets/badishep.jpg"
                                        alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-5"> <b>Badishep</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.41.00 <del
                                            class="text-danger">Rs.44.00</del></p>

                                            <div class="d-flex">
                                              <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                              <i class="fa-regular fa-heart text-light"
                                                style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                            </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
                            <div class="card mb-3 pt-3   ">
                                <div class="card-title">
                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/chilly powder.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-5"> <b>chilly Powder</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.25.00 <del
                                            class="text-danger">Rs.50.00</del></p>

                                            <div class="d-flex">
                                              <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                              <i class="fa-regular fa-heart text-light"
                                                style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                            </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
                            <div class="card mb-3 pt-3   ">
                                <div class="card-title">
                                    <span class="badge  float-end rounded-pill pt-2 me-1"
                                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                        src="/static/assets/dagadful.jpg" alt="Card image"></a>
                                <div class="card-body">
                                    <h4 class="card-title ms-5"> <b>dagadful</b></h4>
                                    <p class="card-text text-primary ms-5">Rs.25.00 <del
                                            class="text-danger">Rs.50.00</del></p>

                                            <div class="d-flex">
                                              <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                              <i class="fa-regular fa-heart text-light"
                                                style="height:30 px; width:40px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                            </div>
                                </div>
                            </div>
                        </div>

                        <!---------------------------------------------------------------------------->
                        <div class="row">
          
                            <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                              <div class="card mb-3 pt-3  ">
                                <div class="card-title">
                          
                                  <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.06.50</span>
                                </div>
                                <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/dalchini.jpg"
                                    alt="Card image"></a>
                                <div class="card-body">
                                  <h4 class="card-title ms-5"> <b>Dalchini</b></h4>
                                  <p class="card-text text-primary ms-3">Rs.08.50 <del class="text-danger">Rs.15.00</del></p>
                                  <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                      style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                  </div>
                                </div>
                              </div>
                          </div>
                
                          <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                            <div class="card mb-3 pt-3  ">
                              <div class="card-title">
                        
                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                  style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
                              </div>
                              <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/dhane.jpg"
                                  alt="Card image"></a>
                              <div class="card-body">
                                <h4 class="card-title ms-5"> <b>Dhane</b></h4>
                                <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.25.00</del></p>
                                <div class="d-flex">
                                  <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                  <i class="fa-regular fa-heart text-light"
                                    style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                          <div class="card mb-3 pt-3  ">
                            <div class="card-title">
                      
                              <span class="badge  float-end rounded-pill pt-2 me-1"
                                style="background-color: #ff7722; height: 30px ;width:70px;">Rs.18.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/dhane powder.jpg"
                                alt="Card image"></a>
                            <div class="card-body">
                              <h4 class="card-title ms-5"> <b>Dhane.</b></h4>
                              <p class="card-text text-primary ms-5">Rs.132.00 <del class="text-danger">Rs.150.00</del></p>
                              <div class="d-flex">
                                <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                <i class="fa-regular fa-heart text-light"
                                  style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                          <div class="card-title">
                    
                            <span class="badge  float-end rounded-pill pt-2 me-1"
                              style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
                          </div>
                          <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/halad powder.jpg"
                              alt="Card image"></a>
                          <div class="card-body">
                            <h4 class="card-title ms-5"> <b>Halad Powder</b></h4>
                            <p class="card-text text-primary ms-5">Rs.25.00 <del class="text-danger">Rs.30.00</del></p>
                            <div class="d-flex">
                              <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                              <i class="fa-regular fa-heart text-light"
                                style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                            </div>
                          </div>
                        </div>
                       </div></div> 
                        
        <!---------------------------------------------------------------->
        
        <div class="row">
          
            <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
              <div class="card mb-3 pt-3  ">
                <div class="card-title">
          
                  <span class="badge  float-end rounded-pill pt-2 me-1"
                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.06.50</span>
                </div>
                <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/halkund.jpg"
                    alt="Card image"></a>
                <div class="card-body">
                  <h4 class="card-title ms-3"> <b>Halkunda</b></h4>
                  <p class="card-text text-primary ms-3">Rs.08.50 <del class="text-danger">Rs.15.00</del></p>
                  <div class="d-flex">
                    <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                    <i class="fa-regular fa-heart text-light"
                      style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
            <div class="card mb-3 pt-3  ">
              <div class="card-title">
        
                <span class="badge  float-end rounded-pill pt-2 me-1"
                  style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
              </div>
              <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/garam masala.jpg"
                  alt="Card image"></a>
              <div class="card-body">
                <h4 class="card-title ms-3"> <b>Garam Masala</b></h4>
                <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.25.00</del></p>
                <div class="d-flex">
                  <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                  <i class="fa-regular fa-heart text-light"
                    style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
          <div class="card mb-3 pt-3  ">
            <div class="card-title">
      
              <span class="badge  float-end rounded-pill pt-2 me-1"
                style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
            </div>
            <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/hing.jpg"
                alt="Card image"></a>
            <div class="card-body">
              <h4 class="card-title ms-3"> <b>Hing</b></h4>
              <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.22.00</del></p>
              <div class="d-flex">
                <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                <i class="fa-regular fa-heart text-light"
                  style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
        <div class="card mb-3 pt-3  ">
          <div class="card-title">
    
            <span class="badge  float-end rounded-pill pt-2 me-1"
              style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
          </div>
          <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/jeere powder.jpg"
              alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-3"> <b>Jeere Powder</b></h4>
            <p class="card-text text-primary ms-5">Rs.25.00 <del class="text-danger">Rs.30.00</del></p>
            <div class="d-flex">
              <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
              <i class="fa-regular fa-heart text-light"
                style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
            </div>
          </div>
        </div>
                    </div>

                  <!----------------------------------------------------------------------->
                  <div class="row">
          
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                      <div class="card mb-3 pt-3  ">
                        <div class="card-title">
                  
                          <span class="badge  float-end rounded-pill pt-2 me-1"
                            style="background-color: #ff7722; height: 30px ;width:70px;">Rs.06.50</span>
                        </div>
                        <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/kanda lasun masala.jpg"
                            alt="Card image"></a>
                        <div class="card-body">
                          <h4 class="card-title ms-3"> <b>kanda Lasun Masala</b></h4>
                          <p class="card-text text-primary ms-3">Rs.08.50 <del class="text-danger">Rs.15.00</del></p>
                          <div class="d-flex">
                            <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                            <i class="fa-regular fa-heart text-light"
                              style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                          </div>
                        </div>
                      </div>
                  </div>
        
                  <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                    <div class="card mb-3 pt-3  ">
                      <div class="card-title">
                
                        <span class="badge  float-end rounded-pill pt-2 me-1"
                          style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
                      </div>
                      <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/lavang.jpg"
                          alt="Card image"></a>
                      <div class="card-body">
                        <h4 class="card-title ms-3"> <b>Lavang</b></h4>
                        <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.25.00</del></p>
                        <div class="d-flex">
                          <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                          <i class="fa-regular fa-heart text-light"
                            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                  <div class="card mb-3 pt-3  ">
                    <div class="card-title">
              
                      <span class="badge  float-end rounded-pill pt-2 me-1"
                        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
                    </div>
                    <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/magaj bee.jpg"
                        alt="Card image"></a>
                    <div class="card-body">
                      <h4 class="card-title ms-3"> <b>Magaj Bee</b></h4>
                      <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.22.00</del></p>
                      <div class="d-flex">
                        <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                        <i class="fa-regular fa-heart text-light"
                          style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                <div class="card mb-3 pt-3  ">
                  <div class="card-title">
            
                    <span class="badge  float-end rounded-pill pt-2 me-1"
                      style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
                  </div>
                  <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/masala velchi.jpg"
                      alt="Card image"></a>
                  <div class="card-body">
                    <h4 class="card-title ms-3"> <b>Masala Velchi</b></h4>
                    <p class="card-text text-primary ms-5">Rs.25.00 <del class="text-danger">Rs.30.00</del></p>
                    <div class="d-flex">
                      <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                      <i class="fa-regular fa-heart text-light"
                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                    </div>
                  </div>
                </div>
                            </div>
       <!-------------------------------------------------------------->      
       <div class="row">
          
        <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
          <div class="card mb-3 pt-3  ">
            <div class="card-title">
      
              <span class="badge  float-end rounded-pill pt-2 me-1"
                style="background-color: #ff7722; height: 30px ;width:70px;">Rs.06.50</span>
            </div>
            <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/methi.jpg"
                alt="Card image"></a>
            <div class="card-body">
              <h4 class="card-title ms-3"> <b>Methi</b></h4>
              <p class="card-text text-primary ms-3">Rs.08.50 <del class="text-danger">Rs.15.00</del></p>
              <div class="d-flex">
                <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                <i class="fa-regular fa-heart text-light"
                  style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
        <div class="card mb-3 pt-3  ">
          <div class="card-title">
    
            <span class="badge  float-end rounded-pill pt-2 me-1"
              style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
          </div>
          <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/owa.jpg"
              alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-3"> <b>Owa</b></h4>
            <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.25.00</del></p>
            <div class="d-flex">
              <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
              <i class="fa-regular fa-heart text-light"
                style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
      <div class="card mb-3 pt-3  ">
        <div class="card-title">
  
          <span class="badge  float-end rounded-pill pt-2 me-1"
            style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
        </div>
        <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/pandhare til.jpg"
            alt="Card image"></a>
        <div class="card-body">
          <h4 class="card-title ms-3"> <b>Pandhare teel</b></h4>
          <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.22.00</del></p>
          <div class="d-flex">
            <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
            <i class="fa-regular fa-heart text-light"
              style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
    <div class="card mb-3 pt-3  ">
      <div class="card-title">

        <span class="badge  float-end rounded-pill pt-2 me-1"
          style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
      </div>
      <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/papad masala.jpg"
          alt="Card image"></a>
      <div class="card-body">
        <h4 class="card-title ms-3"> <b>Papad Masala</b></h4>
        <p class="card-text text-primary ms-5">Rs.25.00 <del class="text-danger">Rs.30.00</del></p>
        <div class="d-flex">
          <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          <i class="fa-regular fa-heart text-light"
            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
        </div>
      </div>
    </div>
    </div>
     
    <!------------------------------------------------------>
    <div class="row">
          
      <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
        <div class="card mb-3 pt-3  ">
          <div class="card-title">
    
            <span class="badge  float-end rounded-pill pt-2 me-1"
              style="background-color: #ff7722; height: 30px ;width:70px;">Rs.06.50</span>
          </div>
          <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/shahajeere.jpg"
              alt="Card image"></a>
          <div class="card-body">
            <h4 class="card-title ms-3"> <b>shahajeere</b></h4>
            <p class="card-text text-primary ms-3">Rs.08.50 <del class="text-danger">Rs.15.00</del></p>
            <div class="d-flex">
              <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
              <i class="fa-regular fa-heart text-light"
                style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
            </div>
          </div>
        </div>
    </div>

    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
      <div class="card mb-3 pt-3  ">
        <div class="card-title">
  
          <span class="badge  float-end rounded-pill pt-2 me-1"
            style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
        </div>
        <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/velchi.jpg"
            alt="Card image"></a>
        <div class="card-body">
          <h4 class="card-title ms-3"> <b>Velchi</b></h4>
          <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.25.00</del></p>
          <div class="d-flex">
            <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
            <i class="fa-regular fa-heart text-light"
              style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
    <div class="card mb-3 pt-3  ">
      <div class="card-title">

        <span class="badge  float-end rounded-pill pt-2 me-1"
          style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
      </div>
      <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/papad masala.jpg"
          alt="Card image"></a>
      <div class="card-body">
        <h4 class="card-title ms-3"> <b>Papad Masala</b></h4>
        <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.22.00</del></p>
        <div class="d-flex">
          <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          <i class="fa-regular fa-heart text-light"
            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
        </div>
      </div>
    </div>
</div>
<div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
  <div class="card mb-3 pt-3  ">
    <div class="card-title">

      <span class="badge  float-end rounded-pill pt-2 me-1"
        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
    </div>
    <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/mirchi lonche.jpg"
        alt="Card image"></a>
    <div class="card-body">
      <h4 class="card-title ms-3"> <b>Mirchi Lonche</b></h4>
      <p class="card-text text-primary ms-5">Rs.25.00 <del class="text-danger">Rs.30.00</del></p>
      <div class="d-flex">
        <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
        <i class="fa-regular fa-heart text-light"
          style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
      </div>
    </div>
  </div>
  </div>
 

  <!------------------------------------------------------->
  <div class="row">
          
    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
      <div class="card mb-3 pt-3  ">
        <div class="card-title">
  
          <span class="badge  float-end rounded-pill pt-2 me-1"
            style="background-color: #ff7722; height: 30px ;width:70px;">Rs.06.50</span>
        </div>
        <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/karale chutney.jpg"
            alt="Card image"></a>
        <div class="card-body">
          <h4 class="card-title ms-3"> <b>Karale chatani</b></h4>
          <p class="card-text text-primary ms-3">Rs.08.50 <del class="text-danger">Rs.15.00</del></p>
          <div class="d-flex">
            <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
            <i class="fa-regular fa-heart text-light"
              style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
          </div>
        </div>
      </div>
  </div>

  <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
    <div class="card mb-3 pt-3  ">
      <div class="card-title">

        <span class="badge  float-end rounded-pill pt-2 me-1"
          style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
      </div>
      <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/jawas chutney.jpg"
          alt="Card image"></a>
      <div class="card-body">
        <h4 class="card-title ms-3"> <b>Jawas Chatani</b></h4>
        <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.25.00</del></p>
        <div class="d-flex">
          <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
          <i class="fa-regular fa-heart text-light"
            style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
        </div>
      </div>
    </div>
</div>
<div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
  <div class="card mb-3 pt-3  ">
    <div class="card-title">

      <span class="badge  float-end rounded-pill pt-2 me-1"
        style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
    </div>
    <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/amba lonche.jpg"
        alt="Card image"></a>
    <div class="card-body">
      <h4 class="card-title ms-3"> <b>amba Lonche</b></h4>
      <p class="card-text text-primary ms-5">Rs.20.00 <del class="text-danger">Rs.22.00</del></p>
      <div class="d-flex">
        <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
        <i class="fa-regular fa-heart text-light"
          style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
<div class="card mb-3 pt-3  ">
  <div class="card-title">

    <span class="badge  float-end rounded-pill pt-2 me-1"
      style="background-color: #ff7722; height: 30px ;width:70px;">Rs.05.00</span>
  </div>
  <a href=""><img class="card-img-top img-fluid " style="height: 300px;" src="/static/assets/mayonise.jpg"
      alt="Card image"></a>
  <div class="card-body">
    <h4 class="card-title ms-3"> <b>Mayonise</b></h4>
    <p class="card-text text-primary ms-5">Rs.25.00 <del class="text-danger">Rs.30.00</del></p>
    <div class="d-flex">
      <a href="#" class="btn  mt-3 ms-5" style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
      <i class="fa-regular fa-heart text-light"
        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
    </div>
  </div>
</div>
            </div>

            </div>
                  </div>
                    </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                

            {%endblock%}

</body>

</html>