{% extends 'master.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block project %}

    <div class="container-fluid">
        <h1 class="text-center">Stationary</h1>
        <hr class="text-black">
        <div class="row">

            <div class="col-lg-3">
                <h1>Categories</h1>
                <hr class="text-black">
                <ul style="list-style: none;">
                        {% for i in category %}
                        <hr class="text-black">
                        <li><a href="/{{ i.category_name }}/" class="btn">{{ i.category_name }}</li></a>

                        {% endfor %}

                    </ul>
            </div>

            <div class="col-lg-9">

                <div class="row">
                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                            </div>
                            {% for i in list %}
                            <div class="carousel-item ">
                                <img src="media/{{i.category_name}}" class="d-block w-100 "
                                    alt="/media/{{i.category_name}}">
                            </div>
                            {% endfor %}

                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/camlin Scholar Compass.png" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Camlin Scholar Compass...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.135.00 <del
                                        class="text-danger">Rs.160.00</del></p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Poster Colours T-6.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-3"> <b>Poster Colours T-6...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.98.00 <del class="text-danger">Rs.100.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.65.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Exam Pad.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-5"> <b>Exam Pad...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.65.00 <del class="text-danger">Rs.130.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.35.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Exam Pad 120.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-5"> <b>Exam Pad...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.115.00 <del
                                        class="text-danger">Rs.150.00</del></p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.25.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Cello Tep.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-5"> <b>Cello Tep Big...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.40.00 <del class="text-danger">Rs.65.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Youva Note Book.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Youva Note Book 140 page...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.53.00 <del class="text-danger">Rs.55.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.8.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Classone Note Book.png" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>A/5 Classone Note Book...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.42.00 <del class="text-danger">Rs.50.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Hasure English Priymar.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-2"> <b>Hasure English Priymar...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.38.00 <del class="text-danger">Rs.40.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.5.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Youva A-50.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-5"> <b> Youva Notebook</b></h4>
                                <p class="card-text text-primary ms-5">Rs.55.00 <del class="text-danger">Rs.60.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.1.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Trimax Refill Bluejpeg.jpeg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-5"> <b>Trimax Refill Blue...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.24.00<del class="text-danger">Rs.25.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.40.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Exam Pad 70.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-5"> <b>Exam Pad...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.70.00 <del class="text-danger">Rs.110.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.2.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Kangaro Stapler.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-5"> <b>Kangaro Stapler...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.73.00 <del class="text-danger">Rs.75.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 shadow-lg p-3 mb-5   bg-white rounded">
                        <div class="card mb-3 pt-3  ">
                            <div class="card-title">

                                <span class="badge  float-end rounded-pill pt-2 me-1"
                                    style="background-color: #ff7722; height: 30px ;width:70px;">Rs.5.00</span>
                            </div>
                            <a href=""><img class="card-img-top img-fluid " style="height: 300px;"
                                    src="/static/assets/Cover Roll Plastic.jpg" alt="Card image"></a>
                            <div class="card-body">
                                <h4 class="card-title ms-1"> <b>Cover Roll Plastic 4 M...</b></h4>
                                <p class="card-text text-primary ms-5">Rs.25.00 <del class="text-danger">Rs.30.00</del>
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="btn  mt-3 ms-5"
                                        style="background-color: #ff7722;color: aliceblue;">Add To Cart</a>
                                    <i class="fa-regular fa-heart text-light"
                                        style="height:30 px; width: 36px ; background-color: #ff7722; margin-left: 6px; margin-top:17px; font-size: 28px; padding-left: 5px; padding-top: 5px; border-radius: 4px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% endblock %}

</body>

</html>